.keyvis{
  max-height: 65vh;
  max-width: 70vw;
  @include respond(tab-pro){
    margin-bottom: 5vh;
  }
  &__container{
    & p{
      font-size: 3vh;

      @include respond(tab-pro){
        font-size: 3.5vw;
        line-height: 5vw;
      }
    }

    & a{
      background-color: $color-black;
      color: $color-white;
      font-size: 2vh;
      font-weight: 700;
      padding: 2vh 2vw;
    }

    &.animate-svg{
      & .grow{
        transform: scale(1);
      }
    }
  }
}

.grow{
  transform: scale(0);
  transition: transform .3s ease-in-out;
}

//this doesn't work... :(
//supposed to draw the stroke but it's not...
// path {
//   stroke-dasharray: 5000;
//   stroke-dashoffset: 5000;
//   animation-name: draw;
//   animation-duration: 1s;
//   animation-fill-mode: forwards;
// }

// @keyframes draw {
//   from { 
//       stroke-dashoffset: 5000; 
//   }
//   to {  
//      stroke-dashoffset: 0; 
//   }
// }