@mixin bg-contain{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin bg-cover{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-col{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin flex-space{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-space-col{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

@mixin respond($breakpoint){
  @if $breakpoint == mobile{  // mobile
    @media (max-width: 575.98px) {@content};
  }

  @if $breakpoint == tab{  // Small devices (landscape phones, less than 768px)
    @media (max-width: 767.98px) { @content };
  }

  @if $breakpoint == tab-pro{  // Medium devices (tablets, less than 992px)
    @media (max-width: 1024px) { @content };
  }

  @if $breakpoint == condense{  // Large devices (desktops, less than 1200px)
    @media (max-width: 1800px) { @content };
  }
}