@mixin bg-contain{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin bg-cover{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-col{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin flex-space{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-space-col{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}