.skills{
  &__container{
    width: 95%;
    height: 80vh;
    margin-top: 2vh;
    display: flex;
  }

  &__block{
    flex: 0 0 50%;
    height: 100%;
    @include flex-space-col;
    padding: 2rem;

    &-dev{
      background-color: rgba(180,225,216,.2);
      & .timeline--group::after{
        background-color: $color-blue;
      }
    }

    &-design{
      background-color: rgba(211,176,80,.2);
      & .timeline--group::after{
        background-color: $color-salmon;
      }
    }
  }
}

