.skills{
  &__container{
    width: 100%;
    height: 100%;
    margin-top: 2vh;
    display: flex;

    @include respond(condense){
      flex-direction: column;
    }
  }

  &__block{
    flex: 0 0 50%;
    height: 100%;
    @include flex-space-col;
    padding: 5vh;

    @include respond(condense){
      flex: 0 0 100%;
    }

    &-dev{
      background-color: rgba(180,225,216,.2);
      & .timeline--group::after{
        background-color: $color-blue;
      }
    }

    &-design{
      background-color: rgba(211,176,80,.2);
      & .timeline--group::after{
        background-color: $color-salmon;
      }
    }
  }
}

