* {
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 2vh;
}

h1, h2, h3{
  font-weight: 900;
  padding: 0;
  margin: 0;
}

h1{
  font-size: 5vh;
}

h2{
  font-size: 3.5vh;
}

button{
  border: none;
}

p{
  font-size: 2.5vh;
  line-height: 3.5vh;

  @include respond(mobile){
    font-size: 3vw;
    line-height: 5vw;
  }
}

small{
  font-weight: 200;
}

a{
  color: unset;
  text-decoration: unset;
  &:active{
    color: inherit
  }
}

.wrapper{
  padding-left: $nav-width;
  width: 100vw;
  min-height: 100vh;
  @include respond(tab-pro){
    padding-left: 0;
  }
}

.section{
  &--wrapper{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding: $website-padding;
    @include respond(tab-pro){
      padding-top: 13vh; // 8vh for the nav + 5vh for the original padding
    }

    @include respond(mobile){
      min-height: unset;
      padding: $website-mobile-padding;
      padding-top: calc(8vh + #{$website-mobile-padding});
    }
  }
}

.text{
  &-block{
    max-width: 1000px;
    width: 70vw;
  }
  &-center{
    text-align: center;
  }
  &-bold{
    font-weight: 700;
  }
}

.flex-center{
  @include flex-center;
}

.flex-center-col{
  @include flex-center-col;
}

/* timeline */
.timeline{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;

  @include respond(condense){
    margin-top: 2vh;
  }

  &::after{
    content:"";
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: $color-gold;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    @include respond(condense){
      left: 40%;
    }
  }

  & p{
    margin: 0;
  }

  &--group{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    @include respond(condense){
      margin-bottom: 2vh;
    }

    &::after{
      content:"";
      position: absolute;
      height: 1.2vh;
      width: 1.2vh;
      border-radius:50%;
      background-color: $color-gold; //color is set dependent of skills__block-dev/design
      left: 50%;
      top: 1vh;
      transform: translateX(-50%);
      z-index: 1;
      @include respond(condense){
        left: 40%;
      }
    }

    &-blue{
      & h1, & h2, & h3, & h4{
        color: $color-blue;
      }
      &::after{
        background-color: $color-blue;
      }
    }

    &-salmon{
      & h1, & h2, & h3, & h4{
        color: $color-salmon;
      }
      &::after{
        background-color: $color-salmon;
      }
    }

    & *{
      flex: 0 0 50%;
      & ul{
        margin: 0;
        max-width: 900px;
        width: 35vw;

        @include respond(tab-pro){
          width: 45vw;
        }
      }
    }

    &__left{
      padding-right: 1rem;
      text-align: right;
      @include respond(condense){
        flex: 0 0 40%;
      }
      & h3 {
        font-size: 2.5vh;

        @include respond(mobile){
          font-size: 3vw;
        }
      }
    }

    &__right{
      padding-left: 1rem;
      @include respond(condense){
        flex: 0 0 60%;
      }
      & p {
        max-width: 15vw;
        @include respond(condense){
          max-width: 80%;
        }
      }
    }
  }

  //modifying classes for timeline
  &-skills{
    height: 90%;
  }
  &-about{
    width: 95%;
    margin-top: 2vh;
    &::after{
      left: 40%;
    }

    & .timeline{
      &--group{
        margin-bottom: 5vh;
        &::after{
          left: 40%;
        }
        &__left{
          flex: 0 0 40%;
        }
        &__right{
          flex: 0 0 60%;
          & p {
            max-width: 25vw;
          }
        }
        
      }
    }
    & h4{
      margin: 0;
      text-transform: capitalize;
    }
    & p{
      font-size: 1.8vh;
      line-height: 2.8vh;
    }

    & ul{
      & li{
        font-size: 1.5vh;
        line-height: 2.5vh;
      }
    }
  }
}

/* timeline -- END */