//basic
$color-white: #ffffff;
$color-black: #161A1E;

//theme
$color-blue-light: #B4E1D8;
$color-blue: #69B0A2;
$color-gold: #D3B050;
$color-salmon: #EE8A59;

$nav-width: 10vw;
$website-padding: 5vh;
$website-mobile-padding: 2vh;
