.work{
  position: relative;
  &::before, &::after{
    content: "";
    position: fixed;
    height: 100vh;
    width: $website-padding;
    background-color: $color-white;
    z-index: 2;

    @include respond(mobile){
      width: $website-mobile-padding;
    }
  }
  &::before{
    left: $nav-width;
    @include respond(tab-pro){
      left: 0;
    }
  }
  &::after{
    right: 0;
  }

  & .slide{
    &__content{
      position: relative;
      height: 100%;
      width: 100%;

      @include respond(mobile){
        min-height: calc(100vh - (#{$website-mobile-padding}*2) - (8vh*2));
      }
      &-main{
        background-color:rgba(211,176,80,.2);
        @include flex-center;
        @include respond(tab-pro){
          flex-direction: column;
          text-align: center;
        }

        @include respond(mobile){
          min-height: calc(100vh - (#{$website-mobile-padding}*2) - (8vh*2));
        }

        & div{
          & p{
            max-width: 400px;
            @include respond(tab-pro){
              max-width: 100%;
              padding: 0 10%;
            }
          }
        }
        &--img{
          flex: 0 0 60%;
          display: flex;
          justify-content: flex-end;
          align-items:center;
          height: 100%;
          padding-right: 5vw;

          @include respond(tab-pro){
            padding-right: 0;
            height: unset;
            flex: unset;
          }

          & svg{
            height: 60vh;
            max-width: 35vw;
            @include respond(tab-pro){
              height: 40vh;
              max-width: 50vw;
            }
          }
        }
        &--text{
          flex: 0 0 40%;
        }
      }

      &-work{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        position: relative;
        text-align: center;
        @include respond(tab-pro){
          padding: 3vw;
          justify-content: center;
        }
        @include respond(mobile){
          padding: 2vw;
        }
        &--bg{
          position: absolute;
          width: 100%;
          background-color: #C1B2A2;
          left: 0;
          top: 0;
          height: 100%;
          // &-1{
          //   top: 0;
          //   opacity: .5;
          //   height: 35%;
          // }
          // &-2{
          //   top: 35%;
          //   height: 65%;
          // }
        }
        & img{
          max-height: 60vh;
          max-width: 80vw;
          object-fit: contain;
        }
        & h2{
          margin-top: 2vh;
        }

        & small{
          margin: 1vh 0;
          font-size: 2vh;
        }
        & p{
          margin: 0;
        }
      }
    }
  }
}

.fp-controlArrow{
  &.fp-prev{
    left: 7vh !important;
    width: 5vh !important;
    height: 5vh !important;
    border: none;
    @include bg-contain;
    background-image: url("../assets/images/arrow.svg");
    transform: rotate(180deg);

    @include respond(tab-pro){
      left: 5vh !important;
    }

    @include respond(mobile){
      left: 3vw !important;
    }
  }
  &.fp-next{
    right: 7vh !important;
    width: 5vh !important;
    height: 5vh !important;
    border: none;
    @include bg-contain;
    background-image: url("../assets/images/arrow.svg");
    @include respond(tab-pro){
      right: 5vh !important;
    }

    @include respond(mobile){
      right: 3vw !important;
    }
  }
}

.fp-slidesNav.fp-bottom{
  display: flex;
  justify-content: center;
  bottom: 7vh;

  & a{
    & span{
      background-color: $color-salmon;
    }

    &.active span{
      border: 1px solid $color-black;
    }
  }
}